Dependencies:

In [60]:
import pandas as pd
import os

In [61]:
# Path to file folder
data_folder_own = 'Resources/RentData/Owning Only/'
data_folder_rent = 'Resources/RentData/Rent only/'

In [62]:
# Get list of files from given directory
files_own = os.listdir(data_folder_own)
files_rent = os.listdir(data_folder_rent)

### Data Preparation

In [63]:
# DataFrame to store data about all homes type
homes_df = pd.DataFrame()

# Read each file to a temp DataFrame, drop excess columns, and concatenates temp DataFrame with homes_df
# Also we add column Home Type to identify home type in homes_df
for ind in range(len(files_own) - 1):
    path_to_file = data_folder_own + files[ind]
    temp_df = pd.read_csv(path_to_file)
    temp_df = temp_df.filter(regex=r'RegionID|SizeRank|RegionName|RegionType|State|StateCodeFIPS|MunicipalCodeFIPS|2019')
    temp_df['Home Type'] = files[ind]
    homes_df = pd.concat([homes_df, temp_df], ignore_index=True)

homes_df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,StateCodeFIPS,MunicipalCodeFIPS,2019-01-31,2019-02-28,...,2019-04-30,2019-05-31,2019-06-30,2019-07-31,2019-08-31,2019-09-30,2019-10-31,2019-11-30,2019-12-31,Home Type
0,3101,0,Los Angeles County,County,CA,CA,6,37,720614.0,717257.0,...,713429.0,717638.0,723502.0,724759.0,724660.0,724521.0,726980.0,728185.0,731134.0,4_bedroom.csv
1,139,1,Cook County,County,IL,IL,17,31,334779.0,334353.0,...,335269.0,335952.0,336377.0,336621.0,336607.0,335592.0,334656.0,333503.0,333001.0,4_bedroom.csv
2,1090,2,Harris County,County,TX,TX,48,201,245617.0,246568.0,...,246216.0,246284.0,246946.0,247734.0,248119.0,247737.0,247965.0,248233.0,249034.0,4_bedroom.csv
3,2402,3,Maricopa County,County,AZ,AZ,4,13,330454.0,331718.0,...,332932.0,334078.0,335996.0,338599.0,340567.0,341889.0,343263.0,345184.0,347528.0,4_bedroom.csv
4,2841,4,San Diego County,County,CA,CA,6,73,691293.0,688656.0,...,690763.0,694178.0,699356.0,703425.0,705471.0,705167.0,704542.0,706376.0,709632.0,4_bedroom.csv

In [64]:
# Change value from file names to home type

homes_df.loc[homes_df['Home Type'] == '4_bedroom.csv', 'Home Type'] = '4 bedroom'
homes_df.loc[homes_df['Home Type'] == 'Single_Family_homes.csv', 'Home Type'] = 'single family'
homes_df.loc[homes_df['Home Type'] == '1_bedroom.csv', 'Home Type'] = '1_bedroom.csv'
homes_df.loc[homes_df['Home Type'] == '2_bedroom.csv', 'Home Type'] = '2_bedroom.csv'
homes_df.loc[homes_df['Home Type'] == 'Condo_Co-op.csv', 'Home Type'] = 'condo'
homes_df.loc[homes_df['Home Type'] == '5_bedroom.csv', 'Home Type'] = '5 bedroom'

In [65]:
# final data for homes 
homes_df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,StateCodeFIPS,MunicipalCodeFIPS,2019-01-31,2019-02-28,...,2019-04-30,2019-05-31,2019-06-30,2019-07-31,2019-08-31,2019-09-30,2019-10-31,2019-11-30,2019-12-31,Home Type
0,3101,0,Los Angeles County,County,CA,CA,6,37,720614.0,717257.0,...,713429.0,717638.0,723502.0,724759.0,724660.0,724521.0,726980.0,728185.0,731134.0,4 bedroom
1,139,1,Cook County,County,IL,IL,17,31,334779.0,334353.0,...,335269.0,335952.0,336377.0,336621.0,336607.0,335592.0,334656.0,333503.0,333001.0,4 bedroom
2,1090,2,Harris County,County,TX,TX,48,201,245617.0,246568.0,...,246216.0,246284.0,246946.0,247734.0,248119.0,247737.0,247965.0,248233.0,249034.0,4 bedroom
3,2402,3,Maricopa County,County,AZ,AZ,4,13,330454.0,331718.0,...,332932.0,334078.0,335996.0,338599.0,340567.0,341889.0,343263.0,345184.0,347528.0,4 bedroom
4,2841,4,San Diego County,County,CA,CA,6,73,691293.0,688656.0,...,690763.0,694178.0,699356.0,703425.0,705471.0,705167.0,704542.0,706376.0,709632.0,4 bedroom

In [66]:
# Read rent data file to df 
path_to_rent_files = data_folder_rent + 'Rent_AllHomesPlusMultifamily_SSA.csv'
rent_df = pd.read_csv(path_to_rent_files)
rent_df = rent_df.filter(regex=r'RegionID|RegionName|SizeRank|2019')
region_names = rent_df['RegionName'].to_list()

In [67]:
# lists to store Region Name and State
region = []
state = []

# extract state from Region Name
for ind in range(len(region_names)):
    temp = region_names[ind].split(',')
    if len(temp) > 1:       
        region.append(temp[0])
        state.append(temp[1].strip())
    elif len(temp) == 1:
        region.append(temp[0])
        state.append("unknown")

In [68]:
# Add column State to df.
rent_df['State'] = state

In [69]:
# Reorder columns
rent_df = rent_df[['RegionID', 'RegionName', 'State', 'SizeRank', '2019-01', '2019-02', '2019-03','2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09','2019-10', '2019-11', '2019-12']]

In [70]:
# choose only data for California
rent_ca = rent_df[rent_df['State'] == 'CA']

# final DataFrame
rent_ca

,RegionID,RegionName,State,SizeRank,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12
2,753899,"Los Angeles-Long Beach-Anaheim, CA",CA,2,2480,2487,2494,2501,2507,2514,2521,2527,2533,2539,2541,2542
11,395057,"San Francisco, CA",CA,11,3137,3145,3152,3160,3167,3173,3180,3186,3192,3197,3193,3189
13,395025,"Riverside, CA",CA,13,1886,1893,1900,1908,1915,1923,1930,1938,1945,1952,1960,1967
17,395056,"San Diego, CA",CA,17,2262,2268,2273,2279,2285,2291,2297,2303,2309,2315,2319,2323
25,395045,"Sacramento, CA",CA,25,1732,1739,1747,1754,1761,1768,1775,1781,1787,1793,1799,1805
34,395059,"San Jose, CA",CA,34,3066,3072,3078,3084,3090,3096,3102,3108,3114,3119,3116,3112
56,394619,"Fresno, CA",CA,56,1385,1391,1398,1404,1411,1418,1425,1431,1438,1444,1450,1456
63,394357,"Bakersfield, CA",CA,63,1189,1194,1199,1204,1210,1215,1220,1225,1230,1235,1240,1246
66,394952,"Ventura, CA",CA,66,2582,2587,2592,2597,2602,2607,2612,2617,2622,2627,2631,2635
76,395134,"Stockton, CA",CA,77,1794,1802,1810,1817,1827,1836,1845,1855,1865,1874,1883,1891